* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 300px;
  height: 300px;
  padding: 5px;
  object-fit: cover;
}

#preview .gallery {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  height: 300px;
}

#spring .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#spring .gallery img {
  width: 300px;
  height: 300px;
}

#summer .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#top-button img {
  width: 80px;
  height: 80px;
  object-fit: fill;
}
