* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f6f4e8;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
}
.title {
  background-color: #bacec1;
  color: #1d3124;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  color: #1d3124;
}

/*nav*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e59560;
}
nav .summary a {
  color: #1d3124;
}
nav .summary a:hover {
  cursor: pointer;
  color: #e59560;
  text-decoration: underline;
}

/*preview*/
#preview {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
  padding-left: 0px;
}
#preview::-webkit-scrollbar {
  height: 8px;
}

#preview::-webkit-scrollbar-thumb {
  background: #bacec1;
  border-radius: 10px;
}

#preview img {
  height: 250px;
  padding-left: 10px;
}

/*section1*/
#spring .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#spring .gallery img {
  width: 300px;
  height: 300px;
}

/*section2*/
#summer .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#summer .gallery img {
  width: 300px;
  height: 300px;
}

/*section3*/
#autumn .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#autumn .gallery img {
  width: 300px;
  height: 300px;
}

/*section4*/
#winter .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#winter .gallery img {
  width: 300px;
  height: 300px;
}
/*footer*/
footer {
  display: flex;
  justify-content: center;
}

/*top button*/
#top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#top-button img {
  width: 80px;
  height: 80px;
  object-fit: fill;
}
