@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "KimjungchulMyungjo-Bold";
}
body {
  background-color: #f6f4e8;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
}
.seperate-line {
  border-top: 3px solid #1d3124;
  margin: 30px auto;
  width: 40%;
  height: 0px;
}
.seperate-line:after {
  content: "◆";
  position: relative;
  top: -13px;
  left: calc(50% - 8px);
  color: #1d3124;
}
.title {
  background-color: #bacec1;
  color: #1d3124;
  font-size: x-large;
  margin: 30px 0px;
}
.section {
  display: flex;
  justify-content: center;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  color: #1d3124;
  font-size: xx-large;
  margin: 30px 0px;
}

/*preview*/
#preview {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}
#preview .gallery {
  display: flex;
  margin: 0px 10px;
}
#preview::-webkit-scrollbar {
  height: 8px;
}

#preview::-webkit-scrollbar-thumb {
  background: #bacec1;
  border-radius: 10px;
}

#preview img {
  height: 250px;
  margin: 0px 5px;
}

/*nav*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e59560;
  margin: 20px 0px;
}
nav span {
  margin-bottom: 10px;
}
nav .summary a {
  color: #1d3124;
}
nav .summary a:hover {
  cursor: pointer;
  color: #e59560;
  text-decoration: underline;
}

/*section1*/
#spring .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#spring .gallery img {
  width: 300px;
  height: 300px;
  margin: 10px 0px;
}

/*section2*/
#summer .gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 100px;
}
#summer .gallery img {
  margin: 10px;
}

#summer .gallery .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#summer .gallery .right {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
#summer .gallery .left img {
  width: 500px;
  height: 500px;
}
#summer .gallery .right img {
  width: 240px;
  height: 240px;
}

/*section3*/
#autumn .gallery {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-around;
}
#autumn .gallery img {
  width: 300px;
  height: 300px;
}

/*section4*/
#winter .gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 100px;
}
#winter .gallery img {
  margin: 10px;
}
#winter .gallery .left {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

#winter .gallery .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#winter .gallery .left img {
  width: 240px;
  height: 240px;
}
#winter .gallery .right img {
  width: 500px;
  height: 500px;
}
/*footer*/
footer {
  display: flex;
  justify-content: center;
  color: #1d3124;
  font-size: large;
}

/*top button*/
#top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#top-button img {
  width: 80px;
  height: 80px;
  object-fit: fill;
}
