@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0em;
  padding: 0em;
  font-family: "TheJamsil5Bold";
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  max-height: screen;
}
header {
  display: flex;
  justify-content: center;
  background-color: #ffc0cb;
  font-size: xx-large;
  width: 100%;
  box-shadow: 0em 0.05em 0em 0em #666;
}
.income {
  color: blue;
}
.expenditure {
  color: red;
}

/*내 지출 상단부분*/
#my-assets {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0.08em 0em 0em#666;
  width: 100%;
  padding: 3%;
}
#my-assets .my-assets-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.3em solid black;
  border-radius: 0.5em;
  padding: 4% 20%;
  gap: 0.8em;

  background-color: #ffc0cb;
}

#my-assets .title {
  font-size: large;
}
#my-assets .my-cost {
  font-size: xx-large;
}
#my-assets .spent-wrapper {
  display: flex;
  gap: 1em;
}

/*지출 내역 리스트*/
#lists-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#list {
  display: flex;
}
